* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    /*overflow: hidden;*/
    color: black;
}

#nav {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
}

#logo {
     font-size: 4rem;
     font-weight: 100;
     font-style: italic;
     padding: 0.5rem 1rem;
}

#copyright {
    position: absolute;
    right: 0;
    top: 65%;
    font-size: 4rem;
    padding: 1rem;
    font-weight: 100;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@keyframes left-to-right {
    0% {
        left: 105vw;
    }
    100% {
        left: -4250px;
    }
}

#work-in-progress {
    position: absolute;
    white-space: nowrap;
    overflow-x: visible;
    animation: left-to-right 8s linear infinite;
    left: 0;
    font-size: 24rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.full-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}